<!-- <h3>Login</h3>

<form action="/login" method="POST">
E-mail address: <input type="text" name="email" value="">&nbsp;&nbsp;&nbsp;
Password: <input type="password" name="password">
<button type="submit" name="submit">Login</button>
</form> -->

<form action="/login" method="POST">
  <label for="email">Email
    <input type="email" name="email" id="email"/>
  </label>
  <label for="password">Password
    <input type="password" name="passwordDigest" id="password"/>
  </label>
  <input type="submit" value="Login" class="homepageSubmit"/>
</form>
